<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>
    <h1>Main menu:</h1>
    <a href="/submitCarForm"><p>Add new Car</p></a>
    <a href="/showAllCars"><p>Show all cars</p></a>
    <br>
    <a href="/submitDriverForm"><p>Create New Driver</p></a>
    <a href="/showAllDrivers"><p>Show all drivers</p></a>
    <br>
    <a href="/submitRouteForm"><p>Create New Route</p></a>
    <a href="/showAllRoutes"><p>Show all routes</p></a>
    <br>

    <a href="/searchForStartAddress"><p>Create New Route</p></a>
    <a href="/newRouteForm"><p>Create New Route</p></a>

<!--    <h2>Report Generator</h2>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=1)}">Show all Ferrari</a> </p>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=2)}">Cars older than 10 years</a> </p>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=3)}">Car Brands other than Volkswagen, Audi, Skoda, Seat</a> </p>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=4)}">All Ferrari with red color</a> </p>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=5)}">Ford cars sorted from newest to oldest</a> </p>-->
<!--    <p><a href="#" th:href="@{/carReport(reportId=6)}">Pegueot with color other than grey</a> </p>-->
<!--    <p><a href="#" th:href="@{/search}">Find car by brand, model and color</a></p>-->

</body>
</html>