<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>
    <h1>Main menu:</h1>
    <a href="/submitCarForm"><p>Add new Car</p></a>
    <a href="/showAllCars"><p>Show all cars</p></a>
    <br>
    <a href="/submitDriverForm"><p>Create New Driver</p></a>
    <a href="/showAllDrivers"><p>Show all drivers</p></a>
    <br>
    <a href="/submitRouteForm"><p>Create New Route</p></a> (with geographical coordinates, working version)
    <a href="/showAllRoutes"><p>Show all routes</p></a>
    <br>
    <a href="/newRouteForm"><p>Create New Route</p></a> (by start and end address, beta version :))
</body>
</html>