<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars in database</title>
</head>
<body>
<p th:text="${reportData.reportTitle}">Report Titile</p>
<table>
    <tr th:each="car: ${reportData.getReportData()}">
        <p><td th:text="${car.id}"/></p>
        <p><td th:text="${car.carBrand}"/></p>
        <p><td th:text="${car.carModel}"/></p>
        <p><td th:text="${car.color}"/></p>
        <p><td th:text="${car.yearOfProduction}"/></p>
        <p><td th:text="${car.VIN}"/></p>
    </tr>
</table>

<p th:text="${reportData.getNumberOfRecords()}"> - number of records found</p>
<a href="/">Return to main menu</a>

</body>
</html>