<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Route Form</title>
</head>
<body>
<h1>Start Address:</h1>


<form method="get" action="#" th:object="${route}" th:action="@{/searchStartAddress}">
    <input type="hidden" th:field="*{startAddress}">
    <input type="hidden" th:field="*{routeName}">
    <input type="hidden" th:field="*{startDateTime}">
    <input type="hidden" th:field="*{driverId}">
    <input type="hidden" th:field="*{carId}">

    <div>Search: <input type="text" th:name="query"></div>
    <input type="submit" value="Search">
</form>


<form method="get" action="#" th:object="${route}" th:action="@{/newRouteForm}">

    <ul>
        <li th:each="address : ${startAddressList}">
            <input type="radio" th:field="*{startAddress}" th:value="${address.lat + ',' + address.lon}"/>
            <label th:text="${address.type + ', ' + address.country + ', ' + address.street}">Option</label>
        </li>
        <input type="submit" value="Set">
    </ul>
</form>


<form method="get" action="#" th:object="${route}" th:action="@{/newRouteForm}">
    <input type="hidden" th:field="*{startAddress}">

    <h2>Route name: <input th:field="*{routeName}" type="text"></h2>
    <div th:if="${#fields.hasErrors('routeName')}" th:errors="*{routeName}"></div>

    <div>
        <div>Date:<input th:field="*{startDateTime}" type="datetime-local"></div>
        <div th:if="${#fields.hasErrors('startDateTime')}" th:errors="*{startDateTime}"></div>

    </div>
    <div>
        <h3>Driver and Car:</h3>
        <div>Add driver:
            <select th:field="*{driverId}">
                <option value="">SELECT</option>
                <option th:each="driver : ${allDrivers}"
                        th:value="${driver.id}"
                        th:utext="${driver.lastName}"/>
            </select>
            <div th:if="${#fields.hasErrors('driverId')}" th:errors="*{driverId}"></div>
        </div>
        <br>
        <div>Add car:
            <select th:field="*{carId}">
                <option value="">SELECT</option>
                <option th:each="car : ${allCars}"
                        th:value="${car.id}"
                        th:utext="${car.carModel}"/>
            </select>
            <div th:if="${#fields.hasErrors('carId')}" th:errors="*{carId}"></div>
        </div>
    </div>
    <br><br>
    <input type="submit" value="Submit">
</form>


<form method="get" action="#" th:object="${route}" th:action="@{/searchEndAddress}">
    <input type="hidden" th:field="*{startAddress}">
    <input type="hidden" th:field="*{routeName}">
    <input type="hidden" th:field="*{startDateTime}">
    <input type="hidden" th:field="*{driverId}">
    <input type="hidden" th:field="*{carId}">

    <div>Search<input type="text" name="query"></div>
    <input type="submit" value="Search">
</form>


<form method="get" action="#" th:object="${route}" th:action="@{/saveRoute}">
    <input type="hidden" th:field="*{startAddress}">
    <input type="hidden" th:field="*{routeName}">
    <input type="hidden" th:field="*{startDateTime}">
    <input type="hidden" th:field="*{driverId}">
    <input type="hidden" th:field="*{carId}">

    <ul>
        <li th:each="address : ${endAddressList}">
            <input type="radio" th:field="*{endAddress}" th:value="${address.lat + ',' + address.lon}"/>
            <label th:text="${address.type + ', ' + address.country + ', ' + address.street}">Option</label>
        </li>
        <input type="submit" value="Save Route">
    </ul>
</form>

</body>
</html>