<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Start Address:</h1>
<form method="get" action="#" th:action="@{/searchForPossibleEndResults}">
    <div>City<input type="text" name="city"></div>
    <div>Street<input type="text" name="street"></div>
    <div>Country<input type="text" name="country"></div>
    <input type="submit">
</form>

<form method="get" action="#">
    <table>
        <tr th:each="address : ${addressList}">
            <td th:text="${address.type}"/>
            <td th:text="${address.country}"/>
            <td th:text="${address.street}"/>
            <td><a href="#" th:href="@{/assignEndAddress(lat=${address.lat},
                                                        lon=${address.lon})}">Choose</a></td>
        </tr>
    </table>
    <input type="submit">
</form>

</body>
</html>