<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Type</th>
        <th>Country</th>
        <th>Address</th>
    </tr>
    <tr th:each="address : ${addressList}">
        <td th:text="${address.type}"/>
        <td th:text="${address.country}"/>
        <td th:text="${address.street}"/>
    </tr>
</table>
</body>
</html>