<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saved Car</title>
</head>
<body>
    <h1>Car saved successfully:</h1>
        <p th:text=" 'Car brand: ' + ${car.carBrand}"></p>
        <p th:text=" 'Car model: ' + ${car.carModel}"></p>
        <p th:text=" 'Color: ' + ${car.color}"></p>
        <p th:text=" 'Year of production: ' + ${car.yearOfProduction}"></p>
        <p th:text=" 'VIN number: ' + ${car.VIN}"></p>
        <br>

        <button onclick="window.location.href = '/';">Main menu</button>
</body>
</html>