<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars in database</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
        <th>VIN</th>
        <th>Show Assigned Routes</th>
        <th>Edit Car</th>
        <th>Remove Car</th>
    </tr>
    <tr th:each="car: ${cars}">
        <td th:text="${car.id}"/>
        <td th:text="${car.carBrand}"/>
        <td th:text="${car.carModel}"/>
        <td th:text="${car.color.name().toLowerCase()}"/>
        <td th:text="${car.yearOfProduction}"/>
        <td th:text="${car.VIN}"/>
        <td><a href="#" th:href="@{/showCarAssignedRoutes(carId=${car.id})}">Routes</a></td>
        <td><a href="#" th:href="@{/submitCarForm(carId=${car.id})}">Edit</a></td>
        <td><a href="#" th:href="@{/deleteCar(carId=${car.id})}">Delete</a></td>
    </tr>
</table>
<br>
<button onclick="window.location.href = '/';">Main menu</button>
</body>
</html>