<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<h1>All drivers list:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Show assigned Routes</th>
    </tr>
    <tr th:each="driver : ${allDriversList}">
        <td th:text="*{driver.id}"></td>
        <td th:text="*{driver.firstName}"></td>
        <td th:text="*{driver.lastName}"></td>
        <td><a href="/showRoutesByDriver" th:href="@{/showRoutesByDriverId(driverId=${driver.id})}">Show</a></td>
    </tr>
</table>
<br>
<button onclick="window.location.href = '/'";>Main menu</button>
</body>
</html>